

@{
    ViewBag.Title = "Reset Password";
    //ViewBag.MenuName = "";
    //ViewBag.MenuPage = "Form Update";
    //Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminOSCE.cshtml";
}
@section css{
    @Scripts.Render("~/bundles/jquery")
}
@model OSCEUKDI.Entities.Models.User

<div class="col-12">
    <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-faded-secondary-vertical shadow-dark border-radius-lg pt-4 pb-3">
                <h5 class="text-light  ps-3 text-uppercase text-center"><b>Update User</b></h5>
            </div>
        </div>
        <div class="container">
            <div class="card-header py-1">
            </div><hr style="border:outset" />
            <div class="alert alert-danger alert-dismissible d-none text-white" id="danger-alert" role="alert">
                <i class="material-icons text-white ">
                    warning
                </i>
                <span id="alertText" class="" style="font-size:20px"></span>
            </div>
            <div class="p-4">
                <form>

                    <div class="row">
                        <div class="col-md-6">
                            <input type="hidden" id="id_User" value="@Model.ID" />
                            <div class="input-group input-group-static mb-4">
                                <h6 for="UserName">USERNAME <b class="text-danger">*</b> </h6>
                                <input type="text" class="form-control input-data" name="UserName" id="UserName" placeholder="Input Username" value="@Model.NoPegawai" required disabled>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group input-group-static mb-4">
                                <h6 for="NoPegawai">NO PEGAWAI <b class="text-danger">*</b></h6>
                                <input type="text" class="form-control input-data" name="NoPegawai" id="NoPegawai" placeholder="Input No Pegawai" value="@Model.UserName" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group input-group-static mb-4">
                                <h6 for="Email">EMAIL <b class="text-danger">*</b> </h6>
                                <input type="email" class="form-control input-data" name="Email" id="Email" placeholder="Input Email" value="@Model.Email" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group input-group-static mb-4">
                                <h6 for="Password">PASSWORD <b>*</b></h6>
                                <input type="password" class="form-control input-data" name="Password" id="Password" placeholder="Input Password"  required se>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group input-group-static mb-4" id="DivRole">
                                <h6 for="Role">Role <b class="text-danger">*</b> </h6>
                                <select class="form-control pb-4" name="RoleID" id="RoleID">
                                    <option value="@Model.RoleID" selected>@Model.Roles.RoleName</option>
                                    @{
                                        foreach (var data in ViewData["Role"] as IEnumerable<OSCEUKDI.Entities.ViewModel.VMDropDown>)
                                        {
                                            <option value="@data.Nilai">@data.Nama</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        @*<div class="col-md-6">
                            <h6 for="IsActive">STATUS <b class="text-danger">*</b></h6>
                            @{
                                if (Model.IsActive)
                                {
                                    <div class="form-check">
                                        <input class="form-check-input input-data" type="radio" name="IsActive" id="IsActive" value="true" checked required>
                                        <label class="custom-control-label" for="IsActive">AKTIF</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input input-data" type="radio" name="IsActive" id="IsActive" value="false" required>
                                        <label class="custom-control-label" for="IsActive">TIDAK AKTIF</label>
                                        <div class="invalid-feedback">
                                            Code is required.
                                        </div>
                                        <div class="valid-feedback feedback-pos">
                                            Looks good!
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-check mb-3">
                                        <br />

                                        <input class="form-check-input input-data" type="radio" name="IsActive" id="IsActive" value="true" required>
                                        <label class="custom-control-label" for="IsActive">AKTIF</label>
                                    </div>
                                    <div class="form-check">
                                        <br />
                                        <input class="form-check-input input-data" type="radio" name="IsActive" id="IsActive" value="false" checked required>
                                        <label class="custom-control-label" for="IsActive">TIDAK AKTIF</label>
                                        <div class="invalid-feedback">
                                            Code is required.
                                        </div>
                                        <div class="valid-feedback feedback-pos">
                                            Looks good!
                                        </div>
                                    </div>
                                }
                            }
                        </div>*@

                    </div>

                    <div class="form-group ">
                        <div class="col-sm-6 col-md-offset-10">
                            <button type="button" class="btn btn-success" onclick="PostUpdate()">
                                <i class="material-icons opacity-10">update</i>
                                Update
                            </button>
                            <button type="button" class="btn btn-danger" onclick="history.back()">
                                <i class="material-icons opacity-10">arrow_back</i>
                                Back
                            </button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/Admin/UserManage/crud.js"></script>
}